.clear-fix:after{
    content: '';
    display: block;
    clear: both;
    
}


#one {
    width: 100%;
    height: 300px;
    background-color: #2bcdc0;
}

#one h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 125px;
}

#two {
    width: 100%;
    /*height: 300px;*/
    background-color: black;
}

#two > div {
    float: left;
    width: 28%;
    padding: 0 30px;
    
}
/*#bottom-one {
    float: left;
    width: 28%;
    padding: 0 30px;
}*/

#bottom-one h1 {
    font-size: 35px;
    color: white;
    text-align: center;
}

#bottom-one p {
    font-size: 12px;
    color: white;
    text-align: center;
}

/*#bottom-two {
    float: left;
    width: 28%;
}*/

#bottom-two h1 {
    font-size: 35px;
    color: white;
    text-align: center;
}

#bottom-two p {
    font-size: 12px;
    color: white;
    text-align: center;
}

/*#bottom-three {
    float: left;
    width: 28%;
}*/

#bottom-three h1 {
    font-size: 35px;
    color: white;
    text-align: center;
}

#bottom-three p {
    font-size: 12px;
    color: white;
    text-align: center;
}

.blue {
    height: 25px;
    /*width: 40%;*/
    background-color: blue;
    /*margin-left: 100px;*/
    margin-top: 50px;
}

.orange {
    height: 25px;
    /*width: 40%;*/
    background-color: orange;
    /*margin-left: 100px;*/
    margin-top: 50px;
}

.green {
    height: 25px;
    /*width: 40%;*/
    background-color: green;
    /*margin-left: 100px;*/
    margin-top: 50px;
}


    @media (max-width: 767px) {
        #two > div {
            float: none;
            width: auto;
        }
    
}