body{
   background-color: black; 
    
}


#grow {
    background-image: url(../img/deathstroke_300.jpg);
    height: 300px;
    width: 300px;
}

#plant {
    background-image: url(../img/Riddler_300.jpg);
    height: 300px;
    width: 300px;
    
}

.text-big {
    background-image: url(../img/bat.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    
    
}

.big-box h1 {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    
    
}

.big-box h3 {
    font-size: 15px;
    color: white;
    text-transform: capitalize;
    
    }

.big-box p {
    font-size: 10px;
    color: yellow;
    text-transform: capitalize;
    
    
    
}

.small-box-2 h2 {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    
}

.small-box-2 p {
    font-size: 10px;
    color: white;
    text-transform: capitalize;
}

.small-box h2 {
    font-size: 15px;
    color: white;
    text-transform: capitalize;
    }

.small-box p {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    
}


    




    

    
  
   


    


