html, body {
    margin: 0;
    padding: 0;
}
html {
    background: #ccc;
}
body {
    width: 600px;
    background: #fff;
    margin: 2em auto 2em;
}
div {
    margin-bottom: 1em;
    width: 100px;
    height: 100px;
    margin-right: 200px;
}
.element1 {
    background: rgb(211, 206, 61);
    float: left;
}
.element2 {
    background: rgb(85, 66, 54);
    float: right;
    height: 400px;
}
.element3 {
    background: rgb(247,120,37);
    clear: left;
}